.request {
  @hPadding: 30px;

  position: relative;
  padding: 20px 450px 20px @hPadding;
  border-bottom: solid 1px #fff;

  &__type {
    font-size: 14px;
  }

  &__title {
    font-size: 32px;
    line-height: 36px;
  }

  &__description {
    margin-top: 3px;
    font-size: 14px;
  }

  &__right-block {
    position: absolute;
    right: @hPadding;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    text-align: right;
  }

  &__date, &__time, &__status, &__action {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
  }

  &__date, &__time {
    .icon {
      fill: #000;
      opacity: 0.5;
    }
  }
}