include /components/icon/icon

mixin request(_request)
    .request
        .request__type
            if _request.your
                | Your request
            else
                | New request
        .request__title= _request.title
        .request__description= _request.description
        .request__right-block
            if _request.your
                .request__date
                    +icon-text('calendar', '21/12/2012')
                .request__time
                    +icon-text('time', '21:00')
                .request__status Confirmed
            else
                a.request__action Refuse
                    button.request__action.button_red Allow
