include /components/icon/icon
include /components/switch/switch

mixin search-bar(attrs)
    div(class=("search-bar" + attrs.modifier ? "_" + attrs.modifier : ""))
        .search-bar__container
            if attrs.geo !== false
                .search-bar__geo-select
            input.search-bar__query(type="text" placeholder="What are you interested in?")
            button.button_red Find

            .search-bar__options
                .calendar
                    +icon('calendar')
                    | Calendar
                if attrs.sorting !== false
                    .search-bar__sort-by
                        | Sort by
                        +swicth('sort_by', 'Date')
                        +swicth('sort_by', 'Location')