.rating {
  @size: 12px;

  display: inline-block;
  width: @size * 5;

  div {
    background-image: url(_assets/icons/star.svg);
    background-repeat: repeat-x;
    background-size: @size;
    height: @size;
  }

  .value-0 { width: 0; }
  .value-1 { width: 20%; }
  .value-2 { width: 40%; }
  .value-3 { width: 60%; }
  .value-4 { width: 80%; }
  .value-5 { width: 100%; }
}