.profile-page {
  .main-container;

  &__info {
    position: relative;
    height: 300px;
    padding-top: 275px;
    box-sizing: border-box;

    text-align: center;
  }

  &__edit {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__user-block {
    .user-block {
      .position-center;
      width: 400px;

      &__image {
        .round-image(140px);
      }

      &__name {
        font-size: 32px;
        font-weight: 300;
      }
    }
  }

  &__info-list {
    font-size: 14px;
    font-weight: 300;
    & > span {
      margin-right: 40px;
    }
  }

  &__reviews-count {
    opacity: 0.5;
    margin-left: 5px;
  }

  &__lang-label {
    @color: rgba(0,0,0,0.4);
    padding: 2px 5px;
    vertical-align: baseline;
    margin-left: 10px;
    color: @color;
    border-radius: 2px;
    border: solid 1px @color;
    box-sizing: border-box;
  }

  &__actions {
    margin: 40px 0;
    text-align: center;
  }

  &__switch {
    position: relative;
    text-align: center;
    padding: 40px 0;
  }

  &__tags {
    width: 540px;
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
  }
}

 .switch-block {
   user-select: none;
   @borderRadius: 3px;

   .switch__label {
     ._stroke-button;
     border-radius: 0;
     margin: -1px;
     font-weight: 400;
     padding-left: 60px;
     padding-right: 60px;
   }

   .switch:first-child {
     .switch__label {
       border-radius: @borderRadius 0 0 @borderRadius;
     }
   }

   .switch:last-child {
     .switch__label {
       border-radius: 0 @borderRadius @borderRadius 0;
     }
   }
 }


 .about-me {
   position: relative;
   background-color: @darkBgColor;
   width: 500px;
   padding: 20px 20px 40px 45px;
   display: inline-block;

   &__image {
     .round-image(60px);
     position: absolute;
     left: -25px;
     top: 10px;
   }

   &__title {
     font-size: 22px;
     margin-bottom: 40px;
   }

   &__content {
     font-size: 14px;
   }
 }

 .tags-list {
   margin-bottom: 10px;

   &__title {
     width: 80px;
     display: inline-block;
   }

   div {
     vertical-align: baseline;
   }
 }

 .profile-page__rates {
   background-color: @darkBgColor;
   background-image: url(_assets/pattern_card.png);
   background-size: 100px 100px;
   margin-top: 50px;
 }

.profile-page__rates-container {
  .main-container;
  padding: 40px 0;
}

.feedback {
  @bgColor: #fff;
  display: inline-block;
  vertical-align: top;
  max-width: 30%;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
  padding-left: 100px;

  &__user {
    position: absolute;
    left: -40px;
    top: 15px;
  }

  &__message {
    background: @bgColor;
    color: #222;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    z-index: 5;
  }

  &__message-arrow {
    position: absolute;
    background: @bgColor;
    left: 90px;
    top: 40px;
    width: 40px;
    height: 20px;
    transform: skewX(50deg);
    z-index: 4;
  }
}