extends /index.jade
include /users/user-block/user-block
include /profile-page/request/request
include /experiences/experience-feedback/feedback
include /experiences/experience-full-card/experience-full-card
include /components/icon/icon
include /components/switch/switch

block content
  .profile-page
    .profile-page__info
      a.profile-page__edit
        +icon-text('edit', 'Edit profile')
      .profile-page__user-block
        +user-block
      .profile-page__info-list
        span.profile-page__email brittanyfox@gmail.com
        span.profile-page__location Munich, Germany
        span.profile-page__rating
          | Rating 4.96
          span.profile-page__reviews-count (256 reviews)
        span.profile-page__languages
          | Languages
          span.profile-page__lang-label EN
          span.profile-page__lang-label RU
    .profile-page__actions
      button.button_red Create event
    .profile-page__requests
        +request({
          your       : true,
          title      : "Data Visualization with Processing",
          description: "Master-class by Nicole Davidson"
        })
        +request({
          your       : true,
          title      : "Some new request",
          description: "Blah blah blah"
        })
        +request({
          your       : true,
          title      : "Request with a very very very long title to check layout. And it is totally okay!",
          description: "Blah blah blah"
        })
        +request({
          your       : false,
          title      : "Kathryn Wagner",
          description: "Create one and tell people where to start and how to contribute"
        })

    .profile-page__switch
      .switch-block
        +switch('tab', 'Profile')
        +switch('tab', 'All events')

    .about-me
      img.about-me__image(src='_assets/miroslav.jpg')
      .about-me__title About me
      .about-me__content Okay, sometimes my analogies are bad, but the premise is still good. It’s important to be able to talk about something that interests you both in the “native tongue” of what you’re doing, as well as in the language of the person you’re speaking with. For instance, if I’m talking to someone who’s not into podcasting, and I’m explaining what my new business will be about. I say, “I’m just trying to be a whole bunch of different magazines in the magazine stand at the local bookstore.” It’s easy. They understand the building blocks: it’s not my store, it’s my magazine. It’s not my rack. It’s my magazine. Simple, easy to understand. I don’t have to waste a lot of breath

    .profile-page__tags
      .tags-list
        .tags-list__title
          | Guide In
        .tag_red Design
        .tag_red Data Science
        .tag_red Psychology
      .tags-list
        .tags-list__title
          | Interest In
        .tag BDSM
        .tag Cognitive Neurosciense
        .tag Practical Archaeology

    +experience-full-card({
      status: 'Next event',
      title: 'Data Visualization with Processing',
      type: 'Master-class',
      description: 'Okay, sometimes my analogies are bad, but the premise is still good. It’s important to be able to talk about something that interests you both in the “native tongue” of what you’re doing, as well as in the language of the person you’re speaking with. For instance, if I’m talking to someone who’s not into podcasting, and I’m explaining what my new business will be about. I say, “I’m just trying to be a whole bunch of different magazines in the magazine stand at the local bookstore.” It’s easy. They understand the building blocks: it’s not my store, it’s my magazine. It’s not my rack. It’s my magazine. Simple, easy to understand. I don’t have to waste a lot of breath'
    })
    +experience-full-card({
      status: 'Next event',
      title: 'Data Visualization with Processing',
      type: 'Master-class',
      description: 'Okay, sometimes my analogies are bad, but the premise is still good. It’s important to be able to talk about something that interests you both in the “native tongue” of what you’re doing, as well as in the language of the person you’re speaking with. For instance, if I’m talking to someone who’s not into podcasting, and I’m explaining what my new business will be about. I say, “I’m just trying to be a whole bunch of different magazines in the magazine stand at the local bookstore.” It’s easy. They understand the building blocks: it’s not my store, it’s my magazine. It’s not my rack. It’s my magazine. Simple, easy to understand. I don’t have to waste a lot of breath'
    })

  .profile-page__rates
    .profile-page__rates-container
      +feedback({
        text: 'Okay, its norm. just norm. Just okay. Maybe i`ll do it again.',
        rate: 3
      })
      +feedback({
        text : 'Okay, sometimes my analogies are bad, but the premise is still good. It’s important to be able to talk about something that interests you both in the “native tongue” of what you’re doing, as well as in the language',
        rate: 5
      })
      +feedback({
        text : 'Great!',
        rate: 4
      })
