.experience-full-card {
  @imageWidth: 500px;
  @imageHeight: 300px;
  @padding: 30px;

  position: relative;
  padding:  @padding @padding @padding (@imageWidth + @padding);
  margin-bottom: 25px;
  height: @imageHeight;
  background: #fff;
  color: #000;
  border-radius: 3px;
  overflow: hidden;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: @imageWidth;
    height: @imageHeight;
  }

  &__title {
    font-size: 32px;
    line-height: 36px;
  }

  &__type {
    color: #aaa;
  }

  &__description {
    margin: 10px 0;
  }

  &__bottom-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px @padding;
    background: @importantColor;
    font-size: 16px;
    color: #fff;


    .icon {
      fill: #222;
      opacity: 0.3;
    }
  }

   &__date {
    display: inline-block;
    margin-right: 20px;
  }

  &__time {
    display: inline-block;
    margin-right: 20px;
  }

  &__location {
    display: inline-block;
  }

  &__join-btn {
    ._default-button(#fff);
    color: @importantColor;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 6px;
  }
}