include /components/icon/icon

mixin experience-full-card(_experience)
  .experience-full-card
    img.experience-full-card__image(src="_assets/bg.jpg")
    .experience-full-card__status= _experience.status
    .experience-full-card__title= _experience.title
    .experience-full-card__type= _experience.type
    .experience-full-card__description= _experience.description
    .experience-full-card__tags
      .tag_small Rocket science
      .tag_small Handmade
    .experience-full-card__bottom-bar
      .experience-full-card__date
        +icon-text('calendar', '21/12/2012')
      .experience-full-card__time
        +icon-text('time', '21:00')
      .experience-full-card__location
        +icon-text('location', 'Munich, Germany')
      .experience-full-card__join-btn Join