mixin feedback(_feedback)
    .feedback
        .feedback__user
            +user-block({showRating: false, shortName: true})
        .feedback__message-arrow
        .feedback__message
            .feedback__message-content= _feedback.text
            +rating(_feedback.rate)
        .feedback__value