html
{
   font-size: 13px;
   font-weight: 300;
   font-family: @mainFont;
}

body {
  background: @bgColor;
  color: @mainTextColor;
  position: relative;
}

a {
  text-decoration: underline;
  color: @mainLinkColor;
  cursor: pointer;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

input {
  outline: none;
  border: none;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.logo {
  background: url(/_assets/logo.svg) center no-repeat;
  background-size: contain;
  width: 200px;
  height: 60px;
}

.search-bar {
  margin: 50px 0 0 70px;
}

.sandbox-wrapper {
  border: dotted 1px rgba(255,255,255,0.5);
}

.content {
  margin-top: 30px;
  margin-left: -5px;
  margin-right: -5px;

  .experience-card {
    margin: 5px;
  }
}

.content__actions {
  position: relative;
  height: 50px;
  padding: 75px 0;

  .more-experiences {
    ._stroke-button(@mainTextColor);
    .position-center;
    transform: translate(-100%, -50%);
    margin-left: -5px;
  }

  .or-explore {
    ._stroke-button(@importantColor);
    .position-center;
    transform: translate(0%, -50%);
    margin-left: 5px;
  }
}