._tag {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  vertical-align: middle;
  background: #00B39B;
  color: #fff;
  margin: 3px 5px 3px 0;
}

.tag {
  ._tag;

  &_small {
    ._tag;
    padding: 2px 7px;
  }

  &_red {
    ._tag;
    background: @importantColor;
  }
}

