@mainFont: "Open Sans";
@bgColor: #00CE97;
@darkBgColor: #00B29B;

@mainTextColor : #fff;
@mainLinkColor : #C3E8D7;
@importantColor: #F40064;
@importantColorHover: #db005f;
@importantColorActive: #c70056;

@step: 10px;

.main-container {
  width: 1160px;
  margin: 0 auto;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.position-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

.round-image (@imageSize) {
  width: @imageSize;
  height: @imageSize;
  border-radius: @imageSize;
  background: #222;
  display: inline-block;
}

