include /components/rating/rating

mixin user-block(attrs)
    div(class=("user-block" + ((attrs || {}).modifier ? "_" + (attrs || {}).modifier : "")))
        img.user-block__image(src='_assets/miroslav.jpg')
        .user-block__name
            = attrs && attrs.shortName ? 'Miroslav' : 'Miroslav Chechevitsa'
        if !(attrs && attrs.showRating === false)
            +rating(5)