.main-page {
  .main-container;
  @width: 760px;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  &__search {
    width: @width;
    margin: 0 auto 80px auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__search-bar {
    width: 600px;
    margin: 0 auto;

    .search-bar__query {
      width: 480px;
    }
  }

  &__random {
    text-align: center;
    margin-bottom: 40px;
  }

  &__popular-experiences {
    text-align: center;
  }
}