doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='stylesheets/normalize.css')
        link(rel='stylesheet', href='main.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic' rel='stylesheet' type='text/css')
        //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
    body
        include /layout/header/header
        .content
            block content
        include /layout/footer/footer

        include _assets/sprite.symbol.svg
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')